sub3_ai/.idea
sub3_ai/.vscode
sub3_ai/__pycache__/
*.jpg
sub3_web/compare/__pycache__/
sub3_web/mainpage/__pycache__/
sub3_web/sub3_web/__pycache__/
*.png
model_project/resembleImages_re/
model_project/bottleneck/
model_project/bottleneck_human/
model_project/animal/
model_project/img/
model_project/model/*
*.pb
sub3_web/sub3_ai/datasets/resembleImages